body {
	background-color: lightblue;
	}
blockquote{
	color: navy;
	font-style: italic;
	}
@font-face{
	font-family: "barbie";
	src:url('barbie.woff') format('opentype');
	font-family: barbie;
	}	
a:link	{
	text-decoration: none;
	}
a:hover {
	text-decoration: underline;
	background-color: yellow;
	}
theefont{
	font-family: barbie;
	}
/*.picture{
	height:350px;
	background-image: url("https://upload.wikimedia.org/wikipedia/en/3/3d/U218.jpg");
	background-repeat: no-repeat;
	background-position:center;
	margin-left:auto;
	margin-right:auto;
	}
*/
th	{
	background-color: grey;
	font-style: normal;
	text-align: center;
	color: blue;
	}
@font-face{
	font-family: "barbie";
	src:url('barbie.woff') format('opentype');
	font-family: barbie;
	}
tbody tr:nth-child(even){
			background-color:yellow;
			}
tbody tr:nth-child(odd){
			background-color:orange;
			}
	